Magic 271485
Revision Verdi_R-2020.12-SP2

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort 0 25 1920 506 311 65

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / "" "/home/user/work/cosim_bfm_library/verification/test_axi_dpi_vpi/hw/sim/vcs/wave.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 5

; windowTimeUnit is used for zoom, cursor & marker
; waveform viewport range
zoom 0.000000 82330.150000
cursor 80856.000000
marker 80856.000000

; user define markers
; userMarker time_pos marker_name color linestyle
; visible top row signal index
top 9
; marker line index
markerPos 25

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByChange


addGroup "G1"
activeDirFile "" "/home/user/work/cosim_bfm_library/verification/test_axi_dpi_vpi/hw/sim/vcs/wave.fsdb"
addSignal -h 15 /top/ACLK
addSignal -h 15 -holdScope ARESETn
addSignal -h 15 -holdScope ARADDR[31:0]
addSignal -h 15 -holdScope ARBURST[1:0]
addSignal -h 15 -holdScope ARID[3:0]
addSignal -h 15 -holdScope ARLEN[7:0]
addSignal -h 15 -holdScope ARLOCK
addSignal -h 15 -holdScope ARREADY
addSignal -h 15 -holdScope ARSIZE[2:0]
addSignal -h 15 -holdScope ARVALID
addSignal -h 15 -holdScope RDATA[31:0]
addSignal -h 15 -holdScope RID[3:0]
addSignal -h 15 -holdScope RLAST
addSignal -h 15 -holdScope RREADY
addSignal -h 15 -holdScope RRESP[1:0]
addSignal -h 15 -holdScope RVALID
addGroup "G2"
addSignal -h 15 /top/AWADDR[31:0]
addSignal -h 15 -holdScope AWBURST[1:0]
addSignal -h 15 -holdScope AWID[3:0]
addSignal -h 15 -holdScope AWLEN[7:0]
addSignal -h 15 -holdScope AWLOCK
addSignal -h 15 -holdScope AWSIZE[2:0]
addSignal -h 15 -holdScope AWVALID
addSignal -h 15 -holdScope AWREADY
addSignal -h 15 -holdScope WDATA[31:0]
addSignal -h 15 -holdScope WLAST
addSignal -h 15 -holdScope WVALID
addSignal -h 15 -holdScope WREADY
addSignal -h 15 -holdScope WSTRB[3:0]
addSignal -h 15 -holdScope BID[3:0]
addSignal -h 15 -holdScope BRESP[1:0]
addSignal -h 15 -holdScope BVALID
addSignal -h 15 -holdScope BREADY
addSignal -h 15 -holdScope GPINOUT[31:0]
addSignal -h 15 -holdScope IRQ
addGroup "G3"

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm
activeDirFile "" "/home/user/work/cosim_bfm_library/verification/test_axi_dpi_vpi/hw/sim/vcs/wave.fsdb"

GETSIGNALFORM_SCOPE_HIERARCHY_BEGIN
getSignalForm close

"/_$novas_unit__1"
"/top"

SCOPE_LIST_BEGIN
"/_$novas_unit__1"
"/top"
SCOPE_LIST_END

GETSIGNALFORM_SCOPE_HIERARCHY_END


